// Breakpoints
$large-breakpoint: 75em !default;
$medium-breakpoint: 52em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #8C3031 !default;
$header-bg-color-secondary: #a04748 !default;

// Text
$section-headings-color: #000000 !default;
$body-text-color: #606c71 !default;
$body-link-color: #8C3031 !default;
$body-link-color-hover: #DC143C !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
